.dg__footer__container {
    padding-top: 243px;
    padding-bottom: 80px;
}

.footer__widget {
    h4 {
        font-size: 24px;
        font-weight: 700;

        text-transform: uppercase;

        color: #FFFFFF;
    }

    .footer__inner {
        margin-top: 38px;

        ul {
            padding: 0;

            list-style: outside none none;

            li {
                font-size: 18px;

                margin-bottom: 9px;

                transition: 0.5s;

                color: #8F8F8F;

                &:hover {
                    color: --primary;
                }

                a {
                    font-size: 18px;

                    transition: 0.5s;

                    color: #8F8F8F;

                    &:hover {
                        color: --primary;
                    }
                }
            }
        }
    }

    &.resources {
        margin-left: 34px;
    }

    &.support {
        margin-left: 93px;
    }

    &.information {
        margin-left: 59px;
    }
}


@media #{--lg-layout} {
    .dg__brand__area .space-between {
        padding: 0;
    }

    .footer__widget.resources {
        margin-left: 0;
    }

    .footer__widget.information {
        margin-left: 20px;
    }

    .footer__widget.support {
        margin-left: 34px;
    }

    .footer__widget .footer__inner ul li {
        font-size: 16px;
    }

    .footer__widget .footer__inner ul li a {
        font-size: 16px;
    }
}

@media #{--md-layout} {
    .dg__brand__area .space-between {
        padding: 0;
    }

    .footer__widget.support {
        margin-left: 0;
    }

    .footer__widget.resources {
        margin-left: 0;
    }

    .footer__widget.information {
        margin-left: 0;
    }
}

@media #{--sm-layout} {
    .dg__brand__area .space-between {
        padding: 0;
    }

    .footer__widget.support {
        margin-left: 0;
    }

    .footer__widget.resources {
        margin-left: 0;
    }

    .footer__widget.information {
        margin-left: 0;
    }
}

@media #{--xs-layout} {
    .social__icon {
        justify-content: center;
    }

    .copyright__inner {
        margin-bottom: 14px;

        text-align: center;
    }

    .social__icon li:first-child {
        margin-left: 0;
    }
}

._Footer_5wf6d_6 {
    background-color: black;
    /* Copyright */
    .copyright {
        padding: 25px 0 !important;

        .footer__right {
            .social__icon {
                display: flex;
                justify-content: center;
                list-style: none;
                padding: 0;

                li {
                    margin: 0 10px; // Ajoute un espace horizontal entre les icônes

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px; // Hauteur fixe pour les icônes
                        width: 40px; // Largeur fixe pour les icônes
                        color: white;

                        svg {
                            max-width: 100%;
                            max-height: 100%;
                            color: white;
                        }
                    }
                }
            }
        }
    }

}