@use "../abstracts/" as *;
.blog-box {
  @include mobile {
    margin-bottom: 40px;
  }
  border-radius: 12px;
  overflow: hidden;
  .box-image {
    position: relative;
    background: var(--surface);
    border-radius: 16px;
    @include flex(center, center);
    img {
      width: 100%;
    }

    .wrap-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @include flex(center, center);

      a {
        width: 48px;
        height: 48px;
        background: #e5e5e5;
        box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
        border-radius: 50%;
        @include flex(center, center);
      }
    }
  }
  .box-content {
    padding: 32px 0;
    .category {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 6px 13px 5px;
      background: var(--primary);
      border-radius: 4px;
      color: #fff;
    }

    .title {
      font-size: 24px;
      font-weight: 700;
      margin-top: 14px;
      margin-bottom: 19px;
    }

    .meta {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-weight: 700;
        font-size: 14px;
        color: var(--text);

        &:hover {
          color: var(--primary);
        }
      }
      .name {
        display: flex;
        align-items: center;

        span {
          min-width: 24px;
          width: 24px;
          height: 24px;
          background: #58bd7d;
          border-radius: 50%;
          margin-right: 12px;
        }
      }
    }
  }
}

.blog-2 {
  padding: 99px 0 60px;

  .block-text {
    position: relative;
    margin-bottom: 40px;
    .heading {
      margin-bottom: 16px;
    }

    .desc {
      font-size: 20px;
    }

    .btn-action-3 {
      position: absolute;
      right: 0;
      bottom: 0;

      @include mobile {
        position: relative;
        margin-top: 30px;
      }
    }
  }
  .blog-box.s1 {
    .box-image {
      width: 690px;
      height: 600px;

      @include desktop-1200 {
        width: 100%;
        overflow: hidden;
      }
    }

    .box-content {
      padding: 40px 0;
      display: flex;
      justify-content: space-between;

      .left {
        width: 80%;

        .title {
          font-size: 32px;
          letter-spacing: -0.3px;
          margin-top: 10px;
          line-height: 1.25;
        }

        .text {
          letter-spacing: 0;
        }
      }

      .right {
        width: 20%;
        text-align: right;

        .btn-action-3 {
          padding: 8px 14px;
          font-size: 14px;
        }
      }
    }
  }
  .blog-main {
    padding-left: 30px;

    @include desktop-1200 {
      padding-left: 0;
    }
    .blog-box {
      display: flex;
      margin-bottom: 40px;

      @include mobile {
        flex-wrap: wrap;
      }

      .box-image {
        min-width: 320px;
        height: 260px;

        @include flex(center, center);

        margin-right: 32px;

        @include mobile {
          min-width: 100%;
        }
      }
      .box-content {
        padding: 44px 0 0;

        .title {
          margin-top: 8px;
          margin-bottom: 15px;
        }

        .text {
          text-transform: capitalize;
          letter-spacing: 0;
          padding-right: 20px;
        }
      }
    }
  }
}

.markets {
  .blog-box .box-content .title {
    margin-top: 7px;
  }
}

.blog-slider {
  .swiper-pagination {
    bottom: 84px !important;

    @include mobile {
      bottom: 120px !important;
    }

    .swiper-pagination-bullet {
      margin: 0 8px !important;

      &.swiper-pagination-bullet-active {
        background: var(--primary);
      }
    }
  }
  .blog-box {
    display: flex;
    padding-bottom: 156px;

    .box-image {
      width: 50%;
      margin-right: 26px;
    }

    .box-content {
      width: 50%;
      margin-left: 24px;
      padding: 51px 0;

      .title {
        font-size: 40px;
        line-height: 1.2;
        margin-top: 10px;
      }
      .meta {
        justify-content: flex-start;
        a {
          margin-right: 35px;
        }
      }
      .text {
        font-size: 18px;
        line-height: 1.6;
        margin-top: 21px;
        margin-bottom: 19px;
      }
    }

    @include mobile {
      flex-wrap: wrap;
      padding-bottom: 50px;
      .box-image {
        width: 100%;
        margin-right: 0;
      }
      .box-content {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
