@use "../abstracts/" as *;

.btn-action {
  padding: 13px 30px;
  background: var(--primary);
  border-radius: 90px;
  color: #fff;
  display: inline-block;
  position: relative;
  overflow: hidden;

  &:after {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.13) 0px,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0)
    );
    content: "";
    height: 200%;
    left: -210%;
    opacity: 0;
    position: absolute;
    top: -50%;
    transition: all 0.7s ease 0s;
    width: 200%;
  }

  &:hover {
    color: #fff;
    &:after {
      left: -30%;
      opacity: 1;
      top: -20%;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-property: left, top, opacity;
      transition-timing-function: linear;
    }
  }
}

.btn-action-2 {
  color: var(--onsurface);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--line);
    transition: 0.3s all ease-in-out;
  }

  &:hover::after {
    background: var(--primary) !important;
  }
}

.btn-action-3 {
  padding: 11px 39px;
  border: 2px solid var(--line);
  border-radius: 90px;
  color: var(--onsurface);
}

.btn {
  color: var(--onsurface);
}

.button-loadmore {
  text-align: center;
  margin-top: 8px;
  a {
    padding: 8px 15px;
    font-weight: 700;
    font-size: 14px;
    border: 2px solid var(--line);
    border-radius: 90px;

    svg {
      margin-right: 10px;
    }
  }
}
