@use "../abstracts/" as *;

.sidebar {
  padding-right: 80px;
  @include mobile {
    padding-right: 0;
  }
  .form-search {
    position: relative;
    input {
      border: 2px solid var(--line);
      border-radius: 100px;
      width: 360px;
      height: 44px;
      padding: 0 43px;
      box-shadow: none;
      background: var(--bg1);

      &:focus-visible {
        border-color: var(--primary);
      }

      @include mobile {
        width: 100%;
      }
    }

    button {
      position: absolute;
      left: 21px;
      top: 14px;
      width: 10px;
      border: none;
      background: transparent;
      color: var(--text);
    }
  }

  .widget {
    margin-top: 42px;

    ul {
      margin-top: 26px;
      li {
        padding-bottom: 14px;
        a {
          color: var(--text);

          &:hover {
            color: var(--primary);
          }
        }
      }
    }

    &.recent {
      margin-top: 28px;

      ul {
        li {
          display: flex;
          margin-bottom: 10px;
          .image {
            min-width: 80px;
            width: 80px;
            height: 80px;
            margin-right: 13px;
            border-radius: 8px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .content {
            .category {
              font-size: 12px;
              text-transform: uppercase;
              color: var(--text);
              margin-bottom: 8px;
            }

            .title {
              display: block;
              text-transform: capitalize;
              color: var(--onsurface);
            }
          }
        }
      }
    }

    &.tags {
      margin-top: 27px;
      ul {
        li {
          display: inline-block;
          margin-right: 6px;
          margin-bottom: -3px;

          a {
            padding: 4px 20px;
            border: 1px solid var(--line);
            border-radius: 100px;

            @include mobile {
              padding: 4px 13px;
            }
          }
        }
      }
    }
  }
}
