@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700|Source+Sans+Pro:300,400,400i,600,600i,700&display=swap");

html {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

@for $i from 1 through 15 {
  .pt--#{$i * 10} {
    padding-top: #{$i * 10}px;
  }
}

@for $i from 2 through 15 {
  .pb--#{$i * 10} {
    padding-bottom: #{$i * 10}px;
  }
}


table {
  font-size: 14px;
  line-height: 2;

  width: 100%;
  margin: 0 0 20px;

  border-spacing: 0;
  border-collapse: collapse;

  border-bottom: 1px solid #EDEDED;
}

th {
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.market_table {

  border: 0 none;

  thead {
    background: #001232 none repeat scroll 0 0;

    tr {
      th {
        padding: 20px 30px;

        color: #FFF;
        border-right: 1px solid #1752B4;
      }

      &.market-no {
        width: 136px;
        padding: 0 30px;
      }

      &.market-symbol {
        img {
          width: 50px;
        }
      }

      &.market-prize,
      &.market-volume,
      &.market-dat {
        width: 260px;
        padding: 0 50px;
      }
    }
  }

  tbody {
    td {
      font-size: 15px;

      padding: 30px 30px;

      color: #001232;
      border: 0 none;
    }

    tr {
      &:nth-child(2n + 1) {
        background: #F9F9F9 none repeat scroll 0 0;
      }
    }

    &.bg__color {
      background: #F9F9F9 none repeat scroll 0 0;
    }
  }
}
