$bg-main: #fff;
$primary: #3772ff;
$onsurface: #23262f;
$secondary: #777e90;
$surface: #f7f7f7;

// Font
$font-main: "Zen Dots";
$font-second: "Poppins", sans-serif;

$header-height: 88px;
$header-shrink-height: 90px;

$mobile-width: 767px;
$tablet-width: 1024px;
$desktop-width: 1200px;
$desktop-1350: 1350px;
$desktop-1900: 1900px;

$box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
$bg-overlay: rgba(0, 0, 0, 0.5);

$transition: all 0.3s ease-in-out;
