.ht__bradcaump__area {
    // background-image: url("./img/background-article.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw auto; 
    min-height: 28.62vh; 
    height: 28.62vh;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    /* height: 10%; */
    align-items: center;  
  }
  
  .dg__pagination {
    display: flex; // Utilisez flexbox pour l'alignement
    justify-content: center; // Centrez les boutons de pagination
    list-style-type: none; // Supprimez le style de liste par défaut
    padding: 0; // Retirez le padding par défaut
  
    li {
      margin: 0 5px; // Espacez les boutons de pagination
  
      a {
        display: inline-block;
        padding: 8px 12px; // Taille des boutons
        background-color: #f4f4f4; // Couleur de fond
        color: #333; // Couleur du texte
        text-decoration: none; // Aucun soulignement de texte
        border-radius: 5px; // Bordures arrondies pour l'esthétique
        border: 1px solid #ddd; // Bordure subtile
  
        &:hover {
          background-color: #ddd; // Changement de couleur au survol
          cursor: pointer; // Curseur pointeur pour indiquer la cliquabilité
        }
  
        &.active {
          background-color: #007bff; // Couleur de fond pour la page active
          color: white; // Couleur du texte pour la page active
        }
      }
    }
  }

  .thumb {
    padding-bottom: 1.5em;
  }

  .article-image {
    width: 100%;        // Largeur maximale à 100% du conteneur parent
    height: 10em;       // Hauteur ajustée automatiquement pour maintenir le ratio
    object-fit: cover;  // Garantit que l'image couvre entièrement la zone sans étirer
    border-radius: 10px; // Optionnel, pour un style arrondi
  }


  .blog__3 {
    margin-top: 2em;
  }
  
  