.ht__bradcaump__area {
    // background-image: url("./img/background-article.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw auto; 
    min-height: 28.62vh; 
    height: 28.62vh;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    /* height: 10%; */
    align-items: center;  
  }
  